@layer base, utils, components;

@import '@webtui/css/base.css';
@import '@webtui/css/utils/box.css';
@import '@webtui/css/components/typography.css';
@import "tailwindcss";
@import '@webtui/plugin-nf';
@import '@webtui/theme-everforest';

@layer base {
  :root {
    --font-family: Geist-mono, monospace, "Symbols Nerd Font";
  }
}
@layer utils {
    [box-~='square'],
    [box-~='round'],
    [box-~='double'] {

    }
}

* {
  box-sizing: border-box;
}
body {
  background: var(--background);
  color: var(--foreground);
  height: 100vh;
  width: 100vw;
}
main {
  width: 100%;
  height: 100%;
}
nav {
  display: flex;
  gap: 3ch;
}
a {
    color: var(--fg);
}

span {
  background-color: var(--background0);
  color: var(--gray0);
  padding: 0 1ch;
}

#sidebar {
    flex-grow: 1;
}
.content {
    margin: 0 1ch;
    flex-grow: 1;
}
